@media(max-width: 1218px){
	.service-bg{
		height: 455px !important;
	}
}
@media (max-width: 1199px) {
	ul.second-menu{
		margin-left: -30px
	}
}
@media(max-width: 1149px){
	.service-bg{
		height: 480px !important;
	}
}
@media(max-width: 1149px){
	.service-bg{
		height: 505px !important;
	}
}
@media(max-width: 991px){
	.service{
		margin-bottom: 25px;
	}
	.logo{
		left: 0;
		top: 20px;
	}
	.logo:before, .logo:after{
		height: 130px;
		top: 12px;
	}
	.carousel-inner>.item>img{
		height: 520px;
	}
	#mobile-menu-icon{
		padding-top: 10px;
	}
	#mobile-menu-icon i{
		font-size: 25px;
		cursor: pointer;
		color: #d1a53b;
		margin: 30px 0;
	}
	.mobile-menu span{
		position: relative;
	    top: 10px;
	    right: 10px;
	    font-size: 20px;
	    cursor: pointer;
	    color: #d1a53b;
	}
	.mobile-menu{
		list-style: none;
    	padding: 0;
	}
	.mobile-menu ul{
		list-style: none;
		margin-top: 25px;
	}
	.mobile-menu ul li ul{
		list-style: circle;
		margin-top: 0;
	}
	.mobile-menu a {
	    color: #d1a53b;
	    line-height: 30px;
	    font-size: 16px;
	}
	.visible-sidebar {
	    right: 0px;
	}
}
@media(max-width: 933px){
	.service-bg{
		height: 470px !important;
	}
}
@media(max-width: 834px){
	.service-bg{
		height: 520px !important;
	}
}
@media(max-width: 767px){
	.about-section img{
		margin-top: 25px;
	}
	.pl100{
		padding-left: 15px;
	}
	.about-section hr:after{
		top: -5px;
	}
	.service-bg{
		height: 350px !important;
	}
	.content{
		padding: 35px 15px 0;
	}
	.ehover13 img{
		min-height: 100%;
		max-height: 100%
	}
}
@media(max-width: 480px){
	.main-slider{
		height: 450px;
		background-position: 50% 100%;
	}
}
@media(max-width: 429px){
	.head-down{
		font-size: 25px;
	}
	.head-up{
		font-size: 25px;
	}
	.main-service h3:before{
		left: 25%;
	}
	.main-service h3:after{
		left: 25%;
	}
}
@media(max-width: 411px){
	.header-top ul{
		float: none;
		text-align: center;
		padding: 5px 0;
		margin-left: 0;
	}
	.header-top p{
		float: none;
		text-align: center;
	}
}
@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw;
  }

  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }
}
@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li .content {
    width: calc(100vw - 100px);
  }
  .timeline ul li .content h2 {
    text-align: initial;
  }
  .timeline ul li:nth-child(even) .content {
    left: 45px;
    background: #d1a53b;
    background: -webkit-linear-gradient(-45deg, #d1a53b, #d1a53b);
    background: linear-gradient(-45deg, #d1a53b, #d1a53b);
  }
  .timeline ul li:nth-child(even) .content:before {
    left: -33px;
  }
}
