body{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	overflow-x: hidden;
}

@font-face {
    font-family: 'playfair_displayregular';
    src: url('../fonts/playfairdisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/playfairdisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'great_vibesregular';
    src: url('../fonts/greatvibes-regular-webfont.woff2') format('woff2'),
         url('../fonts/greatvibes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.main-header{
	position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;	
}
.header-top{
	padding: 5px 0 5px;
}
.header-top p{
	margin: 3px 0 0;
	font-weight: bold;
	float: left;
}
.header-top ul {
    list-style: none;
    margin-bottom: 0;
    display: block;
    margin-right: 15px;
}
.header-top li{
	display: inline-block;
}
.header-top li a{
	color: #d1a53b;
}
.header-top li a i{
	border: 1px solid #d1a53b;
	border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 5px 7px;
}
.header-top li a i.fa-instagram{
	padding: 5px 6px;
}
.header-top li a i.fa-snapchat-ghost, .header-top li a i.fa-twitter, .header-top li a i.fa-youtube-play{
	padding: 5px 5px;
}
ul.main-menu {
    list-style: none;
    display: flex;
    padding-top: 35px;
    margin-left: -20px;
}
.main-menu li {
    display: inline-block;
    padding: 0 15px 0 0;
    position: relative;
}
.sticky{
	height: 90px;
	background: rgba(0, 0, 0, 0.8);
}
.logo img{
	width: 150px;
}
.sticky .logo img{
	width: 130px;
}
.nopadding{
	padding: 0;
}
.main-menu li a{
	color: #fff;
	font-size: 15px;
	transition: all 0.3s ease;
	padding: 10px 7px;
	font-family: 'playfair_displayregular';
}
.main-menu li a:hover{
	background: none;
    position: relative;
    color: #d1a53b;
    text-decoration: none;
}
.second-menu li:last-child{
	padding: 0;
}
.sub-menu{
	position: absolute;
    left: 50%;
    top: 34px;
    visibility: hidden;
    background: #333;
    z-index: 10;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -moz-transform: scale(0.9) translateX(-50%);
    -ms-transform: scale(0.9) translateX(-50%);
    -webkit-transform: scale(0.9) translateX(-50%);
    transform: scale(0.9) translateX(-50%);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    opacity: 0;
    filter: alpha(opacity=0);
    padding: 0;
}
.sub-menu li{
	line-height: 45px;
	display: block;
	padding: 0;
}
.sub-menu li a{
	display: block;
    padding: 0 20px;
    line-height: 45px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(191, 162, 73, 0.5);
}
.main-menu li:hover ul.sub-menu{
	visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    -moz-transform: scale(1) translateX(-50%);
    -ms-transform: scale(1) translateX(-50%);
    -webkit-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%);
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-inner .item:after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	content: '';
	display: block;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-control.right,.carousel-control.left{
	background-image: none;
	right: 15px;
	width: 0;
}
.glyphicon-chevron-left{
	background: #fff;
    color: #d1a53b;
    padding: 12px 10px;
    width: 55px !important;
    height: 55px !important;
}
.glyphicon-chevron-right{
	background: #fff;
    color: #d1a53b;
    width: 55px !important;
    height: 55px !important;
    padding: 12px 15px;
}
.carousel-control .glyphicon-chevron-right{
	margin-right: -15px;
}
.carousel-control .glyphicon-chevron-left{
	margin-left: 0;
}
 .carousel-inner>.item>img{
 	width: 100%;
 	min-height: 100%;
 }
 .carousel-caption{
 	top: 35%;
 	right: 10%;
    left: 10%;
 }
 .head-up{
 	font-family: great_vibesregular;
 	font-size: 35px;
    color: #d1a53b;
 }
 .head-down{
 	font-size: 40px;
 	font-family: 'playfair_displayregular'
 }
 .zoomIn, .bounceIn {
    -webkit-animation-name: slideOutLeft;
    animation-name: slideOutLeft;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
}
.services {
    margin-top: -65px;
    background: #222;
}
.main-slider{
    background-size: cover;background-position: 100%;height: 750px
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(odd) > .service{
    background-color: #333;
	color: #fff;
	min-height: 345px;
    max-height: 370px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
}

div.col-md-3.col-sm-6.nopadding:nth-of-type(even) > .service{
    background-color: #9f780f;
	color: #fff;
	min-height: 345px;
    max-height: 370px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    position: relative;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(even) h3{
    font-family: 'playfair_displayregular';
	color: #d1a53b;
	text-transform: uppercase;
	font-style: italic;
    background-color: #333;
    padding: 10px 0;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(odd) h3{
    font-family: 'playfair_displayregular';
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    background-color: #9f780f;
    padding: 10px 0;
}

div.col-md-3.col-sm-6.nopadding:nth-of-type(even) > .service h3{
	color: #fff;
	font-style: italic;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(even) p{
    font-size: 14px;
    font-family: 'playfair_displayregular';
	line-height: 20px;
	font-style: italic;
    text-align: justify;
    color: #333;
    padding: 0 20px;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(odd) p{
    font-size: 14px;
    font-family: 'playfair_displayregular';
    line-height: 20px;
    font-style: italic;
    padding: 0 20px;
    text-align: justify;
    color: #fff;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(odd) > .service:hover{
	background-color: #fff;
	color: #333;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(odd) > .service:hover h3{
	color: #333;
}

div.col-md-3.col-sm-6.nopadding:nth-of-type(even) > .service:hover{
	background-color: #fff;
    color: #333;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(even) > .service:hover h3{
	color: #d1a53b;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(odd) > .service:hover p{
    color: #333;
}
.service img{
	width: 90px;
	height: 90px;
	margin-bottom: 10px;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(odd) > .service a{
	background: #9f780f;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}

div.col-md-3.col-sm-6.nopadding:nth-of-type(odd) > .service a:hover{
	background: #333;
	text-decoration: none;
}
div.col-md-3.col-sm-6.nopadding:nth-of-type(even) > .service a{
	background: #333;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;

}
div.col-md-3.col-sm-6.nopadding:nth-of-type(even) > .service a:hover{
	background: #d1a53b;
	text-decoration: none;
}
.about-section{
	padding-top: 60px;
    background: #222;
    padding-bottom: 40px;
    color: #fff;
}
.about-section h1{
	color: #fff;
	position: relative;
	font-style: italic;	
	font-family: 'playfair_displayregular';
}
.about-section h1:before{
	bottom: -10px;
    width: 180px;
    height: 1px;
    background: #d1a53b;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.about-section h1:after{
	bottom: -15px;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    background: #333;
    border: 1px solid #f5ab5c;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.about-section img{
	border: 3px solid #d1a53b;
}
.about-section p{
	line-height: 25px;
	padding-top: 15px;
	font-style: italic;
	font-size: 13px;
    text-align: justify;
}
.about-section a{
	background-color: #fff;
	color: #333;
	padding: 10px 20px;
	border-radius: 50px;
	text-decoration: none;
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
}
.about-section a:hover{
	background: #d1a53b;
	color: #333;	
}
.about-section h3{
	font-family: 'great_vibesregular';
	color: #d1a53b;
    font-size: 25px;
}
.about-section hr{
    margin: 35px 0;
    border-top: 1px solid #d1a53b;
}

.about-section hr:after{
    top: 30px;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    background: #333;
    border: 1px solid #f5ab5c;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.event-section{
	padding-top: 40px;
	background: #222;
	padding-bottom: 40px;
}
.event-section h1{
	color: #fff;
	position: relative;
	font-style: italic;
	font-family: 'playfair_displayregular';
}
.event-section h3{
	color: #d1a53b;
	font-family: 'great_vibesregular';
}
.event-section h1:before{
	bottom: -15px;
    width: 180px;
    height: 1px;
    background: #d1a53b;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.event-section h1:after{
	bottom: -20px;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    background: #333;
    border: 1px solid #f5ab5c;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.gallery-section{
	padding-top: 50px;
	padding-bottom: 40px;
	background: #222;
}
.gallery-section h1{
	position: relative;
	color: #fff;
	font-family: 'playfair_displayregular';
	font-style: italic;
}
.gallery-section h1:before{
	bottom: -10px;
    width: 180px;
    height: 1px;
    background: #d1a53b;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.gallery-section h1:after{
	bottom: -15px;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    background: #333;
    border: 1px solid #f5ab5c;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.main-service{
	padding-top: 0px;
	background: #313131;
}
.main-service h3{
	position: relative;
	color: #fff;
	font-family: 'playfair_displayregular';
	font-style: italic;
}
.main-service h3:before{
	bottom: -15px;
    width: 180px;
    height: 1px;
    background: #d1a53b;
    display: block;
    position: absolute;
    left: 15%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.main-service h3:after{
	bottom: -20px;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    background: #333;
    border: 1px solid #f5ab5c;
    display: block;
    position: absolute;
    left: 15%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.main-service h4{
	font-family: 'great_vibesregular';
	color: #d1a53b;
	font-size: 24px;
}
.main-service p{
	color: #fff;
	font-size: 13px;
	line-height: 25px;
}
.pl100{
	padding-left: 100px;
}
.hover {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  margin-bottom: 15px;
}

.hover .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hover img {
  display: block;
  position: relative;
}

.hover h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
}
.hover h3{
	color: #fff;
	font-family: 'playfair_displayregular';
}
.hover p.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  color: #fff;
  margin: 15px 0 0 0;
  border-radius: 0px;
  background-color: transparent;
}
.hover p.info:hover {
}
.ehover42 h2 {
  transform: translateY(55px);
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}
.ehover42:hover h2 {
  transform: translateY(15px);
}
.ehover42 .overlay {
  transition: all 0.4s  cubic-bezier(0.88,-0.99, 0, 1.81);
}
.ehover42:hover .overlay {
  background-color: rgba(48, 152, 157, 0.4);
}
.ehover42 p.info {
  opacity: 0;
  transform: scale(0);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  font-weight: normal;
  border: 1px solid white;
  margin: -50px 0 0 0;
  padding: 65px 50px;
}
.ehover42:hover p.info {
  opacity: 1;
  transform: scale(1);
}
.ehover13 img
{
	transition: all 0.35s;
    min-height: 250px;
    max-height: 300px; 
}

.ehover13:hover img
{
	filter: brightness(0.6);
	-webkit-filter: brightness(0.6);
}

.ehover13 .overlay {
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	border-bottom: 1px solid #FFF;
	border-top: 1px solid #FFF;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
.ehover13:hover .overlay {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
.hover.ehover13 h2{
	background: none;
}
.hover.ehover13 h2{
	padding: 50px 0 0 0;
	cursor: pointer; 
}
footer{
	background: #333;
	color: #fff;
	padding-top: 30px;
}
footer img{
	padding-bottom: 10px;
	width: 100px;
}
footer p{
	text-align: justify;
	font-size: 13px;
}
footer ul{
	padding: 0;
	list-style: none;
}
footer ul a{
	color: #fff;
	text-decoration: none;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	line-height: 30px;
}
footer ul a:hover{
	color: #d1a53b;
	text-decoration: none;
}
footer .links{
	margin-top: 30px;
}
footer .links p{
	font-size: 14px;
    display: flex;
    clear: both;
}
footer .links p i{
    color: #d1a53b;
    border: 1px solid #d1a53b;
    padding: 4px;
    width: 25px;
    height: 25px;
    text-align: center;
}
footer .links h4{
	font-family: 'playfair_displayregular';
}
.br{
	border-bottom: 1px solid #fff;
	padding: 10px 0;
}
.copyright p{
	padding: 10px 0;
	margin: 0;
	font-size: 14px;
}
.copyright a{
	color: #d1a53b;
}
.mobile-menu{
	position: fixed;
    top: 0;
    right: -400px;
    width: 300px;
    background: #333;
    z-index: 9;
    padding: 29px;
    height: 100%;
    transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
}
.heading{
	background: url('../images/service-bg.jpg');
	background-size: cover;
	height: 250px;
	padding-top: 100px;
}
.heading:after{
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	height: 250px;
	width: 100%;
}
.heading h1{
	color: #fff;
	font-family: 'playfair_displayregular';
	position: relative;
	z-index: 9;
}
.heading h2{
	color: #d1a53b;
	font-family: 'great_vibesregular';
	position: relative;
	z-index: 9;
	margin-bottom: 8px;
}
.heading h1:before{
	bottom: -10px;
    width: 180px;
    height: 1px;
    background: #d1a53b;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.heading h1:after{
	bottom: -15px;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    box-shadow: 0 0 0 2px #333, 0 0 0 4px #f5ab5c;
    background: #333;
    border: 1px solid #f5ab5c;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.contact-section{
    background: #222;
    padding: 50px 0 30px;
}
.contact-section p{
    color: #fff;
    display: flex;
}
.contact-section i{
    border: 1px solid #d1a53b;
    padding: 10px;
    margin-left: 5px;
    float: left;
    margin-right: 10px;
    height: 35px;
}
.contact-section .form-control{
    background: transparent;
    border: 1px solid #d1a53b;
    color: #d1a53b;
    border-radius: 0;
    padding: 6px 12px !important;
}
.address{
    padding-top: 45px;
}
.btn-send{
    background-color: #d1a53b;
    transition: all 0.4s ease;
    border-color: #d1a53b;
    border-radius: 0;
    color: #fff;
    padding: 5px 20px;
}
.btn-send:hover{
    background: #333;
    color: #fff;
}
.form-group .checkbox{
    float: left;
}
.form-group{
    color: #fff;
}
::-webkit-input-placeholder{
    color: #d1a53b !important; 
}
.logo-image{
    padding-top: 75px;
}
.logo-image img{
    width: 250px;
}
.reservation-box{
    border: 1px solid #d1a53b;
    padding: 25px 10px 0;
    border-radius: 6px;
}

.timeline {
  color: #fff;
}
.timeline h1,
.timeline ul li .content h2 {
  text-shadow: 1px 1px 1px rgba(56, 56, 56, 0.5);
}
.timeline h1 {
  background: #3d9e67;
  padding: 70px 0;
  font-size: 2.5em;
  text-align: center;
}
.timeline ul {
  padding: 50px 0;
}
.timeline ul li {
  background: #d1a53b;
  position: relative;
  margin: 0 auto;
  width: 5px;
  padding-bottom: 40px;
  list-style-type: none;
}
.timeline ul li:last-child {
  padding-bottom: 7px;
}
.timeline ul li:before {
  content: '';
  background: #faf8eb;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border: 3px solid #d1a53b;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.timeline ul li .hidden {
  opacity: 0;
}
.timeline ul li .content {
  background: #d1a53b;
  position: relative;
  top: 7px;
  width: 525px;
  padding: 20px;
}
.timeline ul li .content h2 {
  color: #fff;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'playfair_displayregular';
  position: relative;
}
.timeline ul li .content h2:before{
    bottom: -5px;
    width: 180px;
    height: 1px;
    background: #fff;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}
.timeline ul li .content h2:after{
    bottom: -10px;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 0 0 2px #fff, 0 0 0 4px #fff;
    box-shadow: 0 0 0 2px #d1a53b, 0 0 0 4px #fff;
    background: #fff;
    border: 1px solid #d1a53b;
    display: block;
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    max-width: 100%;
}

.timeline ul li .content h3{
    color: #fff;
    text-align: center;
    font-family: 'great_vibesregular';
}
.timeline ul li .content p {
  text-align: center;
}
.timeline ul li .content:before {
  content: '';
  background: #d1a53b;
  position: absolute;
  top: 0px;
  width: 38px;
  height: 5px;
}
.timeline ul li:nth-child(odd) .content {
  left: 50px;
  background: #d1a53b;
  background: -webkit-linear-gradient(-45deg, #d1a53b, #d1a53b);
  background: linear-gradient(-45deg, #d1a53b, #d1a53b);
}
.timeline ul li:nth-child(odd) .content:before {
  left: -38px;
}
.timeline ul li:nth-child(even) .content {
  left: calc(-450px - 119px);
  background: #d1a53b;
  background: -webkit-linear-gradient(45deg, #d1a53b, #d1a53b);
  background: linear-gradient(45deg, #d1a53b, #d1a53b);
}
.timeline ul li:nth-child(even) .content:before {
  right: -38px;
}
.content{
    padding: 35px 80px 0px;
}
.content p{
    text-align: justify;
}
.arabic p{
    direction: rtl;
}
.arabic_about, .arabic_service, .arabic_footer, .arabic_contact{
    flex-direction: row-reverse;
    direction: ltr;
    display: flex;
    flex-wrap: wrap;
}
.arabic_about p{
    direction: rtl;
}
.arabic_about h3{
    text-align: right;
}
.arabic_about a{
    float: right;
}
.arabic_service h3{
    float: right;
}
.arabic_service h3:before, .arabic_service h3:after{
    left: 40%;
}
.arabic_service h4{
    text-align: right;
}
.arabic_service p{
    direction: rtl;
}
.arabic_footer p{
    direction: rtl;
}
.arabic_footer ul{
    float: right;
}
.arabic_footer .header-top ul{
    float: right;
    margin-right: 0;
}
.arabic_footer h4{
    text-align: right;
}
.arabic_contact p{
    direction: rtl;
    clear: both;
}
.arabic_contact .icheckbox_square-orange{
    float: initial;
}
.arabic_history p{
    direction: rtl;
    text-align: right !important;
}